<!-- <img src="lo-clo.jpeg"> -->
<br>
<div class='home-title'>
  <h1> Home Page </h1>
  <br><br>
  <div class="form-box">
    <form >
      <div class="content">
        <label>User Name:</label>
        <div class="inp">
          <input type="text" name="username" required>
        </div>
      </div>
      <div class="content">
        <label>Password:</label>
        <div class="inp">
          <input type="Password" name="password" required>
        </div>
      </div>
      <div class="submit-btn">
        <button type="submit" (click)="move_to_log()">Login</button>
      </div>
    </form>
  </div>
</div>
<router-outlet></router-outlet>