<!-- <img src="lo-clo.jpeg"> -->
<br>
<div class='home-title'>
  <h1> Home Page </h1>
  <br><br>
  <div class="form-box">
    <form action="http://127.0.0.1:5000/login" method="post">
      <div class="content">
        <label>User Name:</label>
        <div class="inp">
          <input type="text" name="username" required>
        </div>
      </div>
      <div class="content">
        <label>Password:</label>
        <div class="inp">
          <input type="Password" name="password" required>
        </div>
      </div>
      <div class="submit-btn">
        <button type="submit" onclick="loginsuccess()">Login</button>
      </div>
    </form>
  </div>
</div>
